html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 40px);
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-sbold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-green {
  color: #05a464;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.bg-cust {
  background-color: #092b47;
}

.color-cust {
  color: #092b47;
}

.text-cust-light {
  color: #c7d3dc;
}
.fs-b {
  font-size: 5rem;
}
.fs-a {
  font-size: 4rem;
}
.fs-0 {
  font-size: 3rem;
}

.fs-6 {
  font-size: 1.1rem !important;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.text-tight {
  letter-spacing: -0.03em;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}
.w-40 {
  width: 40%;
}

.bg-color {
  background: linear-gradient(
    to bottom right,
    rgba(214, 228, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(167, 243, 240, 0.5)
  );
}

.clamp-two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

@media only screen and (max-width: 600px) {
  .text-tight {
    letter-spacing: -0.05em;
  }
  .fs-a {
    font-size: 2.5rem;
  }
}

.custom-shape-divider-bottom-1719732010 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1719732010 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 67px;
}

.custom-shape-divider-bottom-1719732010 .shape-fill {
  fill: #ffffff;
}


