.cust-hero {
  background-image: url(../assets/images/cover10.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */
}

.cust-hero-body {
  height: 80vh;
  /* opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease; */
}
/* .cust-hero-badge{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
} */

.hero-icon {
  transition: transform 0.2s ease, color 0.2s ease;
}

.hero-icon:hover {
  color: rgb(211, 211, 211) !important;
  transform: translateY(-5px);
}

.hero-icon:not(:hover) {
  transform: translateY(0);
}

@media only screen and (max-width: 600px) {
  .cust-hero {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}


.custom-shape-divider-bottom-1719732010 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1719732010 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 67px;
}

.custom-shape-divider-bottom-1719732010 .shape-fill {
  fill: #FFFFFF;
}